<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Forgot Password</title>
</head>

<body>
    <form action="/forgot" method="post" id="loginForm" name="loginForm">
        <table class="regtable" style="width: 25%;">
            <tr><td colspan="2" style="color: darkcyan;font-weight: bold;">Varify Your Mail Id</td></tr>
            <tr>
                <td><label for="email" style="font-size: 13px;padding-top: 20px;">Check Your Email ID</label></td>
                <td><input type="text" id="email" name="email" placeholder="abc@gmail.com"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="submit" name="submit" value="Get Update Link" >
                </td>
            </tr>
        </table>
    </form>
</body>

</html>