<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg/Login Form</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .start{color: aliceblue;margin-left: 25%;font-size: 20px;}
        .start td{padding: 20px;}
        a{color: black;text-decoration: none;font-weight: bold;}
    </style>
</head>

<body>
    <table class="start">
        <tr><td><h3>Registration And Login</h3>
        </td><td><h3>Nandini Agrawal | 24DEV075 </h3>
        </td></tr>
    </table>
    <form action="/" method="get">
        
        <table class="regtable" style="box-shadow: 10px 8px lightblue;">
            <tr>
                <td>
                    <a href="/signup">SignUp</a>
                </td>
            </tr>
        </table>
        <table class="regtable" style="box-shadow: 10px 8px lightblue;">
            <tr>
                <td>
                    <a href="/loginAuth">Login</a>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>