<html>
    <head>
        <title>Job Application 3</title>
            <body>
                <h3 style="text-align: center;">Job Application Details</h3>
                <form>
                    <fieldset style="border-color: black;
                    display: block;
                    margin-left: 60px;
                    margin-right:450px;">
                        <legend>Basic Deatils</legend>
                    <table>
                        <tr>
                            <td colspan="2">
                                <label for="fname">First Name</label>
                                <input type="text" id="fname" name="first_name" required>
                                <label for="lname">Last Name</label>
                                <input type="text" id="lname" name="last_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="designation">Designation</label>
                                <input type="text" id="designation" name="designation"> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email</label>
                                <input type="text" id="email" name="mail"> 
                            </td>
                            <td>
                                <label for="add1">Address 1</label>
                                <input type="text" id="add1" name="add1"> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="contact">Phone Number</label>
                                <input type="text" id="contact" name="number"> 
                            </td>
                            <td>
                                <label for="add2">Address 2</label>
                                <input type="text" id="add2" name="add2"> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>Gender :
                                <label for="male">Male</label>
                                <input type="radio" id="male" name="gender" value="Male">
                                <label for="female">Female</label>
                                <input type="radio" id="female" name="gender" value="Female">
                                </p>
                            </td>
                            <td>
                                <label for="city">City</label>
                                <input type="text" id="city" name="city"> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>Relationship Satus : 
                                    <select name="relation" id="relation" autofocus >
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                    </select>
                                </p>
                            </td>
                            <td>
                                <label for="state">State</label>
                                <select name="state" id="state" autofocus size="3">
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <label for="zipcode">Zipcode</label>
                                <input type="text" id="zipcode" name="zipcode">
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <label for="birthdate">DOB</label>
                                <input type="text" id="birthdate" name="dateofbirth">
                            </td>
                        </tr>

                    </table>
                </fieldset><br><br>


                <fieldset style="border-color: black;display: block;margin-left: 20px;margin-right: 60%;">
                    <legend>Education Data</legend>
                    <table>
                        <tr><th>SSC Result</th></tr>
                        <tr>
                            <td><label  for="ssc_bname">Name of board</label></td>
                            <td><input type="text" id="ssc_bname" name="ssc_bname"></td>
                            <td><label for="sscpassyear">Passing Year</label></td>
                            <td><input type="text" id="sscpassyear" name="sscpassyear"></td>
                            <td><label for="sscresult">Percentage</label></td>
                            <td><input type="text" id="sscresult" name="sscresult"></td>
                        </tr>
                        

                        <tr><th>HSC</th>
                        <tr>
                            <td><label for="hsc_bname">Name of board</label></td>
                            <td><input type="text" id="hsc_bname" name="hsc_bname"></td>
                            <td><label for="hscpassyear">Passing Year</label></td>
                            <td><input type="text" id="hscpassyear" name="hscpassyear"></td>
                            <td><label for="hscresult">Percentage</label></td>
                            <td><input type="text" id="hscresult" name="hscresult"></td>
                        </tr>

                    
                        <tr><th>Bachelor Degree</th></tr>
                        <tr>
                            <td><label for="bcourse_name1">Course Name</label></td>
                            <td><input type="text" id="bcourse_name1" name="bcourse_name1"></td>
                            <td><label for="bachuni">University</label></td>
                            <td><input type="text" id="bachuni" name="bachuni"></td>
                            <td><label for="bachpassyear">Passing Year</label></td>
                            <td><input type="text" id="bachpassyear" name="bachpassyear"></td>
                            <td><label for="bachresult">Percentage</label></td>
                            <td><input type="text" id="bachresult" name="bachresult"></td>
                        </tr>

                    
                        <tr><th>Master Degree</th></tr>
                        <tr>
                            <td><label for="mcourse_name1">Course Name</label></td>
                            <td><input type="text" id="mcourse_name1" name="mcourse_name1"></td>
                            <td><label for="masuni">University</label></td>
                            <td><input type="text" id="masuni" name="masuni"></td>
                            <td><label for="maspassyear">Passing Year</label></td>
                            <td><input type="text" id="maspassyear" name="maspassyear"></td>
                            <td><label for="masterresult">Percentage</label></td>
                            <td><input type="text" id="masterresult" name="masterresult"></td>
                        </tr>
                    </table>
                    </fieldset><br><br>


                    <fieldset style="border-color: black;display: block;margin-left: 30px;margin-right: 90%;">
                        <legend>Work Experience</legend>
                        <table>
                            <tr>
                                <td><label for="com_name1">Company Name</label></td>
                                <td><input type="text" id="com_name1" name="com_name1" ></td>
                                <td><label for="des1">Designation</label></td>
                                <td><input type="text" id="des1" name="des1"></td>
                                <td><label for="from1">From</label></td>
                                <td><input type="text"  id="from1" name="from1" /></td>
                                <td><label for="to1">To</label></td>
                                <td><input type="text" id="to1" name="to1" ></td>
                            </tr>
                            <tr>
                                <td><label for="com_name2">Company Name</label></td>
                                <td><input type="text" id="com_name2" name="com_name2" ></td>
                                <td><label for="des2">Designation</label></td>
                                <td><input type="text" id="des2" name="des2"></td>
                                <td><label for="from2">From</label></td>
                                <td><input type="text"  id="from2" name="from2" ></td>
                                <td><label for="to2">To</label></td>
                                <td><input type="text" id="to2" name="to2" ></td>
                            </tr>
                            <tr>
                                <td><label for="com_name3">Company Name</label></td>
                                <td><input type="text" id="com_name3" name="com_name3" ></td>
                                <td><label for="des3">Designation</label></td>
                                <td><input type="text" id="des3" name="des3"></td>
                                <td><label for="from3">From</label></td>
                                <td><input type="text"  id="from3" name="from3" ></td>
                                <td><label for="to3">To</label></td>
                                <td><input type="text" id="to3" name="to3" ></td>
                            </tr>
                            </table>
                       </fieldset><br><br>

                       <fieldset style="border-color: black;display: block;margin-left: 30px;margin-right: 90%;">
                        <legend>Language Known</legend>
                            <table>
                                

                                <tr>
                                    <td><input type="checkbox" id="hindi" name="hindi" ></td>
                                    <td><label for="hindi">Hindi</label></td>
                                    <td><input type="checkbox" id="read1" name="read1" >
                                    <td><label for="read1">Read</label></td>
                                    <td><input type="checkbox" id="write1" name="write1" ></td>
                                    <td><label for="write1">Write</label></td>
                                    <td><input type="checkbox" id="speak1" name="speak1" ></td>
                                    <td><label for="speak1">Speak</label></td>
                                </tr>
                    
                                <tr>
                                    <td><input type="checkbox" id="english"  name="english"></td>
                                    <td><label for="english">English</label></td>
                                    <td><input type="checkbox" id="read2" name="read2" ></td>
                                    <td><label  for="read2">Read</label></td>
                                    <td><input type="checkbox" id="write2"  name="write2" ></td>
                                    <td><label  for="write2">Write</label></td>
                                    <td><input type="checkbox" id="speak2"  name="speak2" ></td>
                                    <td><label for="speak2">Speak</label></td>
                                </tr>
                    
                                <tr>
                                    <td><input type="checkbox" id="gujarati"  name="gujarati"></td>
                                    <td><label for="gujarati">Gujarati</label></td>
                                    <td><input type="checkbox" id="read3" name="read3" ></td>
                                    <td><label for="read3">Read</label></td>
                                    <td><input type="checkbox" id="write3"  name="write3" ></td>
                                    <td><label  for="write3">Write</label></td>
                                    <td><input type="checkbox" id="speak3"  name="speak3" ></td>
                                    <td><label for="speak3">Speak</label></td>
                                </tr>
                            </table>
                            </fieldset><br><br>

                            <fieldset style="border-color: black;display: block;margin-left: 30px;margin-right: 90%;">
                                <legend>Technologies</legend>
                                <thead>You Know</thead><br>
                            <table>
                                <tr>
                                    <td><input type="radio" id="php" name="php"></td><td><label for="php">PHP</label></td>
                                    <td><input type="checkbox" id="beginer1" name="beginer1"><td><label for="beginer1">Beginer</label></td>
                                    <td><input type="checkbox" id="mideator1" name="mideator1"></td><td><label for="mideator1">Mideator</label></td>
                                    <td><input type="checkbox" id="expert1" name="expert1"></td><td><label for="expert1">Expert</label></td>
                                </tr>

                                <tr>
                                    <td><input type="radio" id="mysql" name="mysql"></td><td><label for="mysql">Mysql</label></td>
                                    <td><input type="checkbox" id="beginer2" name="beginer2"><td><label for="beginer2">Beginer</label></td>
                                    <td><input type="checkbox" id="mideator2" name="mideator2"></td><td><label for="mideator2">Mideator</label></td>
                                    <td><input type="checkbox" id="expert2" name="expert2"></td><td><label for="expert2">Expert</label></td>
                                </tr>

                                <tr>
                                    <td><input type="radio" id="laravel" name="laravel"></td><td><label for="laravel">Laravel</label></td>
                                    <td><input type="checkbox" id="beginer3" name="beginer3"><td><label for="beginer3">Beginer</label></td>
                                    <td><input type="checkbox" id="mideator3" name="mideator3"></td><td><label for="mideator3">Mideator</label></td>
                                    <td><input type="checkbox" id="expert3" name="expert3"></td><td><label for="expert3">Expert</label></td>
                                </tr>

                                <tr>
                                    <td><input type="radio" id="oracle" name="oracle"></td><td><label for="oracle">Oracle</label></td>
                                    <td><input type="checkbox" id="beginer4" name="beginer4"><td><label for="beginer4">Beginer</label></td>
                                    <td><input type="checkbox" id="mideator4" name="mideator4"></td><td><label for="mideator4">Mideator</label></td>
                                    <td><input type="checkbox" id="expert4" name="expert4"></td><td><label for="expert4">Expert</label></td>
                                </tr>
                                </table>
                                </fieldset><br><br>

                                
                                <fieldset style="border-color: black;display: block;margin-left: 30px;margin-right: 90%;">
                                    <legend>Reference Contact</legend>
                                <table>
                                    <tr>
                                        <td><label for="ref_name1">Name</label>
                                        </td><td><input type="text"  id="ref_name1" name="ref_name_1" ></td>
                                        <td><label for="contact_name1">Contact Number</label>
                                        </td><td><input type="tel" id="contact_name1" name="contact_name1"  ></td>
                                        <td><label for="relation_name1">Relation</label>
                                        </td><td><input type="text" id="relation_name1" name="relation_name_1" ></td>
                                    </tr>
                                    <tr>
                                        <td><label for="ref_name2">Name</label>
                                        </td><td><input type="text"  id="ref_name2" name="ref_name_2" ></td>
                                        <td><label for="contact_name2">Contact Number</label>
                                        </td><td><input type="tel" id="contact_name2" name="contact_name2"  ></td>
                                        <td><label for="relation_name2">Relation</label>
                                        </td><td><input type="text" id="relation_name2" name="relation_name_2" ></td>
                                    </tr>
                                </table>
                                </fieldset><br><br>
                                
                                <fieldset style="border-color: black;display: block;margin-left: 30px;margin-right: 60%;">
                                    <legend>Preferences</legend>
                                <table>

                                    <tr>
                                        <td rowspan="4">Prefered Location</td>
                                        <td rowspan="4">
                                            <select name="Location" id="State" autofocus >
                                                <option value="Ahmedabad">Ahmedabad</option>
                                                <option value="Surat">Surat</option>
                                                <option value="Rajkot">Rajkot</option>
                                            </select>
                                        </td> 
                                    
                                        <td rowspan="4"><label>Department</label></td>
                                        <td  rowspan="4">
                                            <select name="Department" id="State" size="3">
                                                <option value="Development" selected>Development</option>
                                                <option value="Design">Design</option>
                                                <option value="Marketing">Marketing</option>
                                            </select>
                                        </td>

                                        <td colspan="1"><label>Notice Period</label></td>
                                            <td><input type="text"></td>
                                        
                                            <tr>
                                                <td><label>Expected CTC</label></td>
                                                <td><input type="text"></td>
                                            </tr>

                                            <tr>
                                                <td><label>Current CTC</label></td>
                                                <td><input type="text"></td>
                                        </tr>

                            

                                        </table>
                                    </fieldset><br><br>

                    <input type="submit" value="Submit">
                </form>
            </body>
        
    </head>
</html>