<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Password</title>
    <style>
        body {text-align: center;margin: 10px;background-color: black;}
        input {padding: 10px;padding-top: 20px;border: 2px solid black;border-radius: 10px;box-shadow: 5px 6px lightblue;}
        input[type=button] {
        padding: 10px;border-radius: 10px;
        margin-top: 20px;font-size: 20px;border-color: cadetblue;background-color: cadetblue;color: aliceblue;margin-left: 30%;}
        label {font-weight: bold;}
        .regtable {
        margin-left: 30px;
        padding: 20px;border-radius: 10px;    border: 2px solid cadetblue ;width: 30%;background-color: azure;
        height: 40%;margin-top: 5%;margin-left: 30%;}
        span{color: red;}
        #errPas{color:black;font-weight:bold;margin-right:60px}
        .forgotPass{text-decoration: none;color: cadetblue;font-weight: bold;}
    </style>
</head>

<body>

    <% if(remove> 100 || result.activation_key !== activation_key ) {%>
        <body style="background-color: white;">
        <div style="background-color: cadetblue;padding: 10px; width: 50%;margin-top: 20%;margin-left: 20%;">
            <h2 style="color: azure;">Link Expired Or Invalid Access Link...</h2>
            <a href="/" style="text-decoration: none;color: blue;">Go Back To Registration Page OR</a>
            <p>Click here to <a href="/newTokencreate?activation_key=<%=result.activation_key%>">Generate New Token</a></p>
        </div>
        </body>
        <%} else {%>

        <form action="/password" method="post" id="passForm" name="passForm"> 

            <input type="hidden" id="reg_id" name="reg_id" value="<%=result.reg_id %>">
            <input type="hidden" id="salt" name="salt" value="<%=result.salt %>">
            <input type="hidden" id="activation_key" name="activation_key" value="<%=result.activation_key %>">

                <table class="regtable">
                    <tr>
                        <td colspan="2">
                            <h4 style="color: darkcyan;font-size: 20px;margin-top: 10px;">Create Password</h4>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="pass">Create Password</label></td>
                        <td> <input type="text" id="pass" name="pass" placeholder="Enter Your Password">
                            <span id="errPass"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="re_pass">Confirm Your Password</label></td>
                        <td><input type="text" id="re_pass" name="re_pass" placeholder="Confirm Password">
                            <span id="errRePass"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id="errMatch"></span></td>
                    </tr>
                    <tr style="margin-top: 10px;">
                        <td colspan="2">
                            <input type="button" value="Set Password" style="font-size: 12px;margin-left: 10px;" onclick="validatePass()" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id="errPas"></span></td>
                    </tr>
                    
                </table>
            </form>
            
            <% } %>

        <script>

            function validatePass() 
            {
                var isValid = true;

                var re_pass = document.getElementById('re_pass').value;
                document.getElementById('errRePass').innerHTML = '';
                if (re_pass === '') {
                    errRePass.innerHTML = ' Required field';
                    isValid = false;
                } else if (re_pass.length < 8) {
                    errRePass.innerHTML = 'Pass Must be at least 8 Char Long';
                    isValid = false;
                }

                var pass = document.getElementById('pass').value;
                document.getElementById('errMatch').innerHTML = '';
                if (pass === re_pass) {
                    isValid = true;
                } else {
                    isValid = false;
                    errMatch.innerHTML = "Pass Didn't match";
                }

                if (pass === '') {
                    errPass.innerHTML = "Required field"
                    isValid = false
                }
                else if (pass.length < 8) {
                    errPass.innerHTML = "Pass Must be at least 8 Char Long"
                    isValid = false;
                }
                return isValid && passCheck();
            }

            async function passCheck()
            {
                let forminfo = document.getElementById("passForm");
                let data = new FormData(forminfo);
                const param = new URLSearchParams(data);
                const dataCon = await new Response(param).text();

                console.log(typeof(dataCon));
                let final = await fetch('http://localhost:6009/password', {
                    method: "POST",
                    headers: {'Content-type' : 'application/x-www-form-urlencoded'
                },
                body: dataCon
                });
              
                document.querySelector("#errPas").innerHTML=`<p>Click Here To..
                <a href ="/loginAuth" style="font-weight:bold;text-decoration:none;font-size:20px;">Login</a>`;
                
                result = await final.json();
            }
        </script>
    </body>
</html>