<html>
<head>
    <title>Welcome Page - All Task</title>
    <style>
       td{border: 1px solid black;padding: 10px;margin: 10px;text-align: center;border-radius: 7px;}
        a{text-decoration: none;color: black;}
        table{padding-top: 20px;}
        .title{color: darkcyan;font-weight: bold; background-color: azure;border-radius: 10px;}
        .allTask{margin-left: 30px;}
    </style>
</head>

<body>
    <div class="allTask">
    <table>
        <tr>
            <td colspan="2" class="title">JavaScript Exe..</td>
        </tr>
        <tr>
            <td><a href="/dynamic_table">Dynamic Table [Add/Delete Row/cols]</a></td>
            <td><a href="/kukucube">Kuku Cube</a></td>
        </tr>
        <tr>
            <td><a href="/tictac">Tic Tac Toe</a></td>
            <td><a href="/sortAlg">Sorting Algorithms</a></td>
        </tr>
        <tr>
            <td><a href="/jsEvents">JS Events</a></td>
            <td><a href="/jobApp">Job App Design</a></td>
        </tr>
    </table>

    <table>
        <tr><td colspan="3" class="title">Node Exe..</td></tr>
        <tr>
            <td><a href="/att">Attendance Grid/Report</a></td>
            <td><a href="/resultGrid">Exam Result Grid/Report</a></td>
            <td><a href="/sqlTableGen">Dynamic Mysql Query-Generate Table</a></td>
        </tr>
        <tr>
            <td><a href="/searchDel">Search With Delimeter</a></td>
            <td><a href="/searchID">Search With ID And|Or Condition</a></td>
        </tr>
        <tr>
            <td><a href="/SortCols">Sort Asc\Desc All Cols</a></td>
            <td><a href="/studentSort">Student Sort and Pagination</a></td>
        </tr>
        <tr>
            <td><a href="/getPost">JSON Placeholder API Fetch</a></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="2" class="title">JOB APP Crud[ Insert + Update ]</td>
        </tr>
        <tr>
            <td><a href="/formValid">Without Ajax</a></td>
            <td><a href="/formAjax">With Ajax </a></td>
        </tr>
    </table>


    <table>
        <tr>
            <td colspan="4" class="title">Ajax ..</td>
        </tr>
        <tr>
            <td><a href="/timezone">TimeZone Calculator</a></td>
            <td><a href="/cityState">City-State [Ajax Drpdown]</a></td>
        </tr>
    </table>
</div>

</body>

</html>